{
  "presets": [
    "env",
    "react",
    "babel-preset-stage-0",
    "flow"
  ],
  "plugins": [
    "react-hot-loader/babel",
    "syntax-dynamic-import",
    "lodash",
    "react-flow-props-to-prop-types",
    [
      "module-resolver",
      {
        "alias": {
          "src": "./src"
        }
      }
    ]
  ],
  "env": {
    "dev": {
      "plugins": []
    },
    "test": {
      "plugins": [
        "istanbul"
      ]
    }
  }
}